# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.venv/
venv/
.env

# Django
*.log
media/
staticfiles/

# Node
node_modules/
.next/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# Docker
*.pid

# Local data
parsed_products.json
parsed_product.json
